color1 = #777
color2 = #BB7
color3 = #7BB
color4 = #B7B
color5 = #EEE
acme0 = #EEE
acme1 = #2E8297
acme2 = #EEE
maincolor = #16B2AA

controlClose = #FF0000
controlNotStarted = #00FF00
controlOngoing = #0000FF

anubered = #e41f25

// detailed information
.editfield
	border: 0px
	background-color:#777
	padding:0px

#editdetailednameicon
	display:none

#detailedname:hover #editdetailednameicon
	display:inline
	background-color:white
	transition: all 0.2s ease-in

#detailedname:hover #editdetailedname
	background-color:white
	transition: all 0.2s ease-in

#editdetailedname.editting
	background-color:white


#formvenue
	display:none




.row-volunteer
	cursor: pointer

.row-volunteer.selected
	background-color: red

// .row-volunteer:hover
// 	border: 2px solid 

.st0-active
	background-color: green

.st1-welcome
	background-color: orange

.st2-discarded
	background-color: red

.st3-old
	background-color: #444





.statemarker
	border: 2px solid 


#esf-menu
	background-color: #AAA

#esf-main
	background-color: #777


#esf-listview
	background-color: #eee











